# Local development — uses Vite proxy to localhost:3000
VITE_STDB_ENV=local
VITE_STDB_DATABASE=racetimetracker-dev

# Cloud development — connects directly to SpacetimeDB cloud
# VITE_STDB_ENV=cloud
# VITE_STDB_CLOUD_HOST=maincloud.spacetimedb.com
# VITE_STDB_DATABASE=racetimetracker-dev

# Google OAuth
VITE_GOOGLE_CLIENT_ID=787050122886-jfclcohr0np5dhsc0g9efjfkd4qp2dpi.apps.googleusercontent.com
